@model IEnumerable<TeknoYouth.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yetki)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yetki)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdminID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdminID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminID })
        </td>
    </tr>
}

</table>
